# Data Handling and Visualization
### Assignment 2 - Pandas
Mahrukh Shabbir Hasan                                                                                                           
Student ID: 20047638
_______________________________________________________________________________________________________________________________

## Brief Overview
This assignment aims at analysing the world bank data particularly the Economy(GDP) of selected countries versus its population statistics.
First, we analyse the population statistics of the selected countries over the years 2016 to 2020. We start by getting the sum of urban, rural and total populations over these years. It was observed that there was a slight increase in rural population but overall population saw a decline. Urban population remained more or less the same, hence we calculated the average urban population of the countries divided by their size. As expected, the larger the size of the country, the higher was the urban population. To analyse further, the population stats were calculated based on the Land areas (divided into three groups) of the selected countries. It was observed that the though there was an increase in Urban population over the years, the overall population saw a decline in numbers.                                                                                           
Coming to the GDP stats of these countries, first, we understand the minimum, maximum and average GDP stats of each selected country. The average GDP per capita was the highest for France followed by Great Britain and Spain implying that the European countries currently hold strong positions in terms of their GDP. Further analysing the other aspects, the percentage Exports of GDP was highest for Botswana but its Expense also was the second highest. Best expense-Export trade off was observed for Great Britain which also had moderate imports hence implying towards their strong GDP. It was also observed that Australia had the highest imports when compared to rest of the countries as well as the rest of the continents. To analyse deeper, the difference between the Imports and exports of each country was calculated. The countries Australia, France, Great Britain saw a decrease in the difference by decreasing their imports, while for the rest of the countries, the difference increased over the years. Only India had more exports than imports. The maximum exports (above 40%) were from countries UAE, Botswana and Germany.

## Data Preparation

#### Selecting the required countries 
The chosen countries for the analysis are Germany, France, Spain, Great Britain, United States, India, United Arab Emirates, Australia, China and Botswana.
The countries are selected as per their Continents, Population size and Area size.

In [1]:
# Importing all the necessary libraries
import wbgapi as wb
import pandas as pd
import numpy as np

# List of country codes of the selected countries
country_codes = ['DEU','FRA','ESP','GBR','USA','IND','ARE','AUS','CHN','BWA']

# Names of the countries selected
country_names = {'DEU':'Germany','FRA':'France','ESP':'Spain','GBR':'United Kingdom', 'USA':'United States',
                'IND':'India', 'ARE': 'United Arab Emirates', 'AUS': 'Australia', 'CHN': 'China', 'BWA': 'Botswana'}

# Continents of the countries selected
country_groups = {'DEU':'Europe','FRA':'Europe','ESP':'Europe','GBR':'Europe', 'USA':'United States',
                'IND':'Asia', 'ARE': 'Asia', 'AUS': 'Australia', 'CHN': 'Asia', 'BWA': 'Africa'}

#Population size of the selected countries
pop_size = {'DEU':'Large','FRA':'Medium','ESP':'Small','GBR':'Medium', 'USA':'Large',
            'IND':'Large', 'ARE': 'Small', 'AUS': 'Medium', 'CHN': 'Large', 'BWA': 'Small'}

#### Selecting the Indicators from World Bank
The indicators chosen are:

For population stats, we have Urban population, Rural population, Total population in billions and percentage land area coverage.                                                                                                                       
For GDP stats, we have GDP per capita, percentage expense GDP, percentage GDP of exports of goods and services and Imports.

In [2]:
# Popolution Statistics Indicators 
#SP.POP.TOTL- total population
#SP.URB.TOTL.IN.ZS - urban population
#SP.RUR.TOTL.ZS - rural population
#AG.LND.TOTL.K2 - land area per sq KM
indicators_pop = ['SP.URB.TOTL.IN.ZS', 'SP.RUR.TOTL.ZS', 'SP.POP.TOTL', 'AG.LND.TOTL.K2']

# GDP of countries Indicators
#NY.GDP.PCAP.CD - GDP per capita
#GC.XPN.TOTL.GD.ZS - expense % GDP
#NE.EXP.GNFS.ZS - % export of goods and services
#NE.IMP.GNFS.ZS - Imports 
indicators_GDP = ['NY.GDP.PCAP.CD', 'GC.XPN.TOTL.GD.ZS','NE.EXP.GNFS.ZS', 'NE.IMP.GNFS.ZS']

#### Creating DataFrames
The related data is read from the worldbank from the WBGAPI API into two dataframes. One indicates the population statistics while the other indicates the GDP/Economic statistics of selected countries

In [3]:
# Importing population data from WBGAPI
df_pop  = wb.data.DataFrame(indicators_pop ,country_codes, columns = 'series', mrv=5) 
# Creating MultiIndex data frame - defining the columns
df_pop.columns = pd.MultiIndex.from_tuples([('Population','Urban'),('Population', 'Rural'), 
                                           ('Population', 'Total in Bln'), ('Land', 'Land Area')])
# Defining the Indeces
df_pop.index.names = ['Country', 'Years']
# Remove the YR from Year index
df_pop.reset_index(inplace=True)
df_pop['Years'] = df_pop['Years'].str.lstrip('YR')
df_pop = df_pop.set_index(['Country', 'Years'])
#exporting the dataframe for visualisation 
df_pop.to_csv('population data.csv')

# Displaying final Dataframe for Population statistics 
df_pop

                Population                                 Land
                     Urban         Rural Total in Bln Land Area
Country Years
ARE     2016     71020.000  9.360975e+06       14.035    85.965
        2017     71020.000  9.487206e+06       13.752    86.248
        2018     71020.000  9.630966e+06       13.478    86.522
        2019     71020.000  9.770526e+06       13.211    86.789
        2020     71020.000  9.890400e+06       12.952    87.048
AUS     2016   7692020.000  2.419091e+07       14.200    85.800
        2017   7692020.000  2.460186e+07       14.096    85.904
        2018   7692020.000  2.498269e+07       13.988    86.012
        2019   7692020.000  2.536574e+07       13.876    86.124
        2020   7692020.000  2.568704e+07       13.759    86.241
BWA     2016    566730.000  2.159925e+06       32.067    67.933
        2017    566730.000  2.205076e+06       31.300    68.700
        2018    566730.000  2.254067e+06       30.554    69.446
        2019    566730.000  2.303703e+06       29.828    70.172
        2020    566730.000  2.351625e+06       29.123    70.877
CHN     2016   9424700.500  1.387790e+09       43.264    56.736
        2017   9424700.800  1.396215e+09       42.040    57.960
        2018   9424702.900  1.402760e+09       40.848    59.152
        2019   9424702.900  1.407745e+09       39.692    60.308
        2020   9424702.900  1.410929e+09       38.572    61.428
DEU     2016    349360.000  8.234867e+07       22.776    77.224
        2017    349370.000  8.265700e+07       22.739    77.261
        2018    349380.000  8.290578e+07       22.688    77.312
        2019    349380.000  8.309296e+07       22.624    77.376
        2020    349380.000  8.324052e+07       22.547    77.453
ESP     2016    499564.000  4.648406e+07       20.160    79.840
        2017    499547.350  4.659324e+07       19.920    80.080
        2018    499603.479  4.679775e+07       19.679    80.321
        2019    499603.479  4.713352e+07       19.435    80.565
        2020    499603.479  4.735157e+07       19.190    80.810
FRA     2016    547557.000  6.672410e+07       20.083    79.917
        2017    547557.000  6.691802e+07       19.820    80.180
        2018    547557.000  6.710193e+07       19.556    80.444
        2019    547557.000  6.724893e+07       19.291    80.709
        2020    547557.000  6.739158e+07       19.025    80.975
GBR     2016    241930.000  6.561159e+07       17.114    82.886
        2017    241930.000  6.605886e+07       16.857    83.143
        2018    241930.000  6.646034e+07       16.602    83.398
        2019    241930.000  6.683633e+07       16.348    83.652
        2020    241930.000  6.721529e+07       16.097    83.903
IND     2016   2973190.000  1.324517e+09       66.818    33.182
        2017   2973190.000  1.338677e+09       66.400    33.600
        2018   2973190.000  1.352642e+09       65.970    34.030
        2019   2973190.000  1.366418e+09       65.528    34.472
        2020   2973190.000  1.380004e+09       65.074    34.926
USA     2016   9147420.000  3.230718e+08       18.138    81.862
        2017   9147420.000  3.251221e+08       17.942    82.058
        2018   9147420.000  3.268382e+08       17.744    82.256
        2019   9147420.000  3.283300e+08       17.541    82.459
        2020   9147420.000  3.294841e+08       17.336    82.664

In [4]:
# Importing GDP data from WBGAPI
df_gdp = wb.data.DataFrame(indicators_GDP, country_codes, columns = 'series', mrv = 5)
# Creating MultiIndex data frame - defining the columns
df_gdp.columns = pd.MultiIndex.from_tuples([('GDP','Per Capita'),('GDP', 'Expense'), 
                                           ('Imp/Exp', 'Exports'), ('Imp/Exp', 'Imports')])
# Defining the Indeces
df_gdp.index.names = ['Country', 'Years']
# Remove the YR from Year index
df_gdp.reset_index(inplace=True)
df_gdp['Years'] = df_gdp['Years'].str.lstrip('YR')
df_gdp = df_gdp.set_index(['Country', 'Years'])

#exporting the dataframe for visualisation 
df_gdp.to_csv('GDP data.csv')
# Displaying the final Economic/GDP statistics DataFrame
df_gdp

                     GDP                Imp/Exp
              Per Capita     Expense    Exports       Imports
Country Years
ARE     2016    4.465958  101.003014  75.744634  38141.867131
        2017    4.066428   99.594938  75.409412  40644.791190
        2018    3.963114   93.048123  66.680651  43839.324487
        2019    4.267227   96.843533  70.850619  42701.443045
        2020         NaN         NaN        NaN  36284.555243
AUS     2016   26.986857   19.269863  21.547899  49881.763714
        2017   26.608724   21.225319  20.714438  53934.250175
        2018   26.215527   21.869713  21.512513  57180.779400
        2019   26.190046   24.169727  21.675312  54875.285956
        2020         NaN   23.983854  20.055673  51692.842748
BWA     2016   26.781141   54.611351  45.853318   6982.917492
        2017   28.184288   42.964736  39.044533   7296.092142
        2018   29.266589   44.535787  43.527645   7503.878588
        2019   29.029884   37.383152  46.371478   7203.064221
        2020         NaN   31.079255  46.060211   6404.899932
CHN     2016         NaN   19.584380  17.310035   8094.363367
        2017         NaN   19.692277  17.940136   8816.986905
        2018         NaN   19.112104  18.453681   9905.342004
        2019         NaN   18.409992  17.480104  10143.838172
        2020         NaN   18.496911  16.009977  10434.775187
DEU     2016   27.902920   46.073263  38.696383  42107.517270
        2017   28.076617   47.163041  40.074162  44542.295204
        2018   27.898428   47.301046  41.133361  47950.180814
        2019   28.327925   46.624239  40.975427  46794.899292
        2020         NaN   43.416895  37.691652  46208.429472
ESP     2016         NaN   33.880090  29.892534  26505.343216
        2017   31.742962   35.149462  31.543111  28100.586242
        2018   32.165643   35.162588  32.445550  30349.752098
        2019   32.260693   34.954656  32.024671  29555.315699
        2020         NaN   30.620938  29.147786  27063.193918
FRA     2016   47.881926   30.247537  30.852605  37037.374186
        2017   47.707991   30.948633  32.013214  38685.258494
        2018   46.753912   31.713667  32.724285  41572.485010
        2019   46.261766   31.592055  32.549418  40578.644285
        2020         NaN   27.873644  29.893784  39030.360371
GBR     2016   37.269009   28.220781  29.858507  41499.555703
        2017   36.742940   30.045686  31.309071  40857.755583
        2018   36.485435   30.506397  31.807826  43646.951971
        2019   36.205611   31.004978  31.922291  43070.498360
        2020         NaN   28.120834  27.988020  41059.168809
IND     2016   15.271950   19.158235  20.924251   1732.554242
        2017   15.614110   18.791765  21.950732   1980.667020
        2018   15.673674   19.941241  23.657416   1996.915087
        2019         NaN   18.429387  20.957385   2100.751461
        2020         NaN   18.663180  19.207818   1927.707823
USA     2016   22.547553   11.907714  14.608418  58021.400500
        2017   22.273517   12.197516  14.960314  60109.655726
        2018   22.302949   12.291520  15.183961  63064.418410
        2019   22.658365   11.756173  14.538130  65279.529026
        2020   32.987982   10.134143  13.241985  63593.443621

## Data Analysis 
Analysing the data of the two dataframes by creating summary statistics on both the dataframes - Population and GDP

In [5]:
#Calculating the Populataion statistics over the years
df_pop.groupby(level='Years').sum()

         Population                                 Land
              Urban         Rural Total in Bln Land Area
Years
2016   3.151349e+07  3.332259e+09      268.655   731.345
2017   3.151349e+07  3.358535e+09      264.866   735.134
2018   3.151355e+07  3.382374e+09      261.107   738.893
2019   3.151355e+07  3.404244e+09      257.374   742.626
2020   3.151355e+07  3.423546e+09      253.675   746.325

In [6]:
# Calculating the average Urban Population in Population size division
df_pop1 = df_pop.droplevel(level = 0, axis = 1)
df_pop1.droplevel(level = 1).groupby(pop_size).mean()['Urban']

Large     5.473672e+06
Medium    2.827169e+06
Small     3.791115e+05
Name: Urban, dtype: float64

In [7]:
# slices "land area" column into three intervals: (0,50],(50,80] and (80,100]
land = pd.cut(df_pop1['Land Area'], [0, 50, 80, 100])  
df_pop1.pivot_table(['Urban','Rural', 'Total in Bln'], [land])

                  Rural  Total in Bln         Urban
Land Area
(0, 50]    1.352452e+09     65.958000  2.973190e+06
(50, 80]   4.437745e+08     30.053235  3.103009e+06
(80, 100]  9.266191e+07     16.606500  3.212519e+06

In [8]:
# applying transform() on dataframe to get normalise data
df_pop.groupby('Country').transform(lambda x: x - x.mean())

              Population                               Land
                   Urban       Rural Total in Bln Land Area
Country Years
ARE     2016      0.0000   -267039.6       0.5494   -0.5494
        2017      0.0000   -140808.6       0.2664   -0.2664
        2018      0.0000      2951.4      -0.0076    0.0076
        2019      0.0000    142511.4      -0.2746    0.2746
        2020      0.0000    262385.4      -0.5336    0.5336
AUS     2016      0.0000   -774741.2       0.2162   -0.2162
        2017      0.0000   -363788.2       0.1122   -0.1122
        2018      0.0000     17039.8       0.0042   -0.0042
        2019      0.0000    400096.8      -0.1078    0.1078
        2020      0.0000    721392.8      -0.2248    0.2248
BWA     2016      0.0000    -94954.2       1.4926   -1.4926
        2017      0.0000    -49803.2       0.7256   -0.7256
        2018      0.0000      -812.2      -0.0204    0.0204
        2019      0.0000     48823.8      -0.7464    0.7464
        2020      0.0000     96745.8      -1.4514    1.4514
CHN     2016     -1.5000 -13297872.4       2.3808   -2.3808
        2017     -1.2000  -4872872.4       1.1568   -1.1568
        2018      0.9000   1672127.6      -0.0352    0.0352
        2019      0.9000   6657127.6      -1.1912    1.1912
        2020      0.9000   9841489.6      -2.3112    2.3112
DEU     2016    -14.0000   -500319.0       0.1012   -0.1012
        2017     -4.0000   -191986.0       0.0642   -0.0642
        2018      6.0000     56794.0       0.0132   -0.0132
        2019      6.0000    243974.0      -0.0508    0.0508
        2020      6.0000    391537.0      -0.1278    0.1278
ESP     2016    -20.3574   -387966.0       0.4832   -0.4832
        2017    -37.0074   -278792.0       0.2432   -0.2432
        2018     19.1216    -74274.0       0.0022   -0.0022
        2019     19.1216    261493.0      -0.2418    0.2418
        2020     19.1216    479539.0      -0.4868    0.4868
FRA     2016      0.0000   -352808.4       0.5280   -0.5280
        2017      0.0000   -158892.4       0.2650   -0.2650
        2018      0.0000     25017.6       0.0010   -0.0010
        2019      0.0000    172013.6      -0.2640    0.2640
        2020      0.0000    314669.6      -0.5300    0.5300
GBR     2016      0.0000   -824890.2       0.5104   -0.5104
        2017      0.0000   -377624.2       0.2534   -0.2534
        2018      0.0000     23860.8      -0.0016    0.0016
        2019      0.0000    399843.8      -0.2556    0.2556
        2020      0.0000    778809.8      -0.5066    0.5066
IND     2016      0.0000 -27934440.6       0.8600   -0.8600
        2017      0.0000 -13774911.6       0.4420   -0.4420
        2018      0.0000    190592.4       0.0120   -0.0120
        2019      0.0000  13966065.4      -0.4300    0.4300
        2020      0.0000  27552694.4      -0.8840    0.8840
USA     2016      0.0000  -3497476.6       0.3978   -0.3978
        2017      0.0000  -1447103.6       0.2018   -0.2018
        2018      0.0000    268967.4       0.0038   -0.0038
        2019      0.0000   1760721.4      -0.1992    0.1992
        2020      0.0000   2914891.4      -0.4042    0.4042

In [9]:
# Calculating the minimum, average, and maximum GDP per capita per country
df_gdp1 = df_gdp.droplevel(level = 0, axis = 1)
df_gdp1.groupby('Country').agg([min, np.mean, max])['Per Capita']

               min       mean        max
Country
ARE       3.963114   4.190682   4.465958
AUS      26.190046  26.500288  26.986857
BWA      26.781141  28.315476  29.266589
CHN            NaN        NaN        NaN
DEU      27.898428  28.051473  28.327925
ESP      31.742962  32.056433  32.260693
FRA      46.261766  47.151399  47.881926
GBR      36.205611  36.675749  37.269009
IND      15.271950  15.519911  15.673674
USA      22.273517  24.554073  32.987982

In [10]:
# Determining the Average % Expense-Export Trade Off and the Imports over the years for each country
df_gdp1.groupby('Country').mean()[['Exports', 'Expense', 'Imports']]

           Exports    Expense       Imports
Country
ARE      72.171329  97.622402  40322.396219
AUS      21.101167  22.103695  53512.984399
BWA      44.171437  42.114856   7078.170475
CHN      17.438786  19.059133   9479.061127
DEU      39.714197  46.115697  45520.664410
ESP      31.010730  33.953547  28314.838234
FRA      31.606661  30.475107  39380.824469
GBR      30.577143  29.579735  42026.786085
IND      21.339520  18.996761   1947.719127
USA      14.506561  11.657413  62013.689456

In [11]:
# Calculating the Average Import in each continent
df_gdp1.droplevel(level = 1).groupby(country_groups).mean()['Imports']

Africa            7078.170475
Asia             17249.725491
Australia        53512.984399
Europe           38810.778300
United States    62013.689456
Name: Imports, dtype: float64

In [12]:
# Calculating the max GDP expense per country over the years
df_gdp1.groupby('Country').max()['Expense']

Country
ARE    101.003014
AUS     24.169727
BWA     54.611351
CHN     19.692277
DEU     47.301046
ESP     35.162588
FRA     31.713667
GBR     31.004978
IND     19.941241
USA     12.291520
Name: Expense, dtype: float64

In [13]:
# Calculating the difference between the Imports and Exports of each country over the years
def class_1(num):
    num['Difference Imp/Exp'] = num['Imports'] - (num['Exports'] *100)
    return num

df_gdp1.groupby('Country').apply(class_1)

               Per Capita     Expense    Exports       Imports  \
Country Years
ARE     2016     4.465958  101.003014  75.744634  38141.867131
        2017     4.066428   99.594938  75.409412  40644.791190
        2018     3.963114   93.048123  66.680651  43839.324487
        2019     4.267227   96.843533  70.850619  42701.443045
        2020          NaN         NaN        NaN  36284.555243
AUS     2016    26.986857   19.269863  21.547899  49881.763714
        2017    26.608724   21.225319  20.714438  53934.250175
        2018    26.215527   21.869713  21.512513  57180.779400
        2019    26.190046   24.169727  21.675312  54875.285956
        2020          NaN   23.983854  20.055673  51692.842748
BWA     2016    26.781141   54.611351  45.853318   6982.917492
        2017    28.184288   42.964736  39.044533   7296.092142
        2018    29.266589   44.535787  43.527645   7503.878588
        2019    29.029884   37.383152  46.371478   7203.064221
        2020          NaN   31.079255  46.060211   6404.899932
CHN     2016          NaN   19.584380  17.310035   8094.363367
        2017          NaN   19.692277  17.940136   8816.986905
        2018          NaN   19.112104  18.453681   9905.342004
        2019          NaN   18.409992  17.480104  10143.838172
        2020          NaN   18.496911  16.009977  10434.775187
DEU     2016    27.902920   46.073263  38.696383  42107.517270
        2017    28.076617   47.163041  40.074162  44542.295204
        2018    27.898428   47.301046  41.133361  47950.180814
        2019    28.327925   46.624239  40.975427  46794.899292
        2020          NaN   43.416895  37.691652  46208.429472
ESP     2016          NaN   33.880090  29.892534  26505.343216
        2017    31.742962   35.149462  31.543111  28100.586242
        2018    32.165643   35.162588  32.445550  30349.752098
        2019    32.260693   34.954656  32.024671  29555.315699
        2020          NaN   30.620938  29.147786  27063.193918
FRA     2016    47.881926   30.247537  30.852605  37037.374186
        2017    47.707991   30.948633  32.013214  38685.258494
        2018    46.753912   31.713667  32.724285  41572.485010
        2019    46.261766   31.592055  32.549418  40578.644285
        2020          NaN   27.873644  29.893784  39030.360371
GBR     2016    37.269009   28.220781  29.858507  41499.555703
        2017    36.742940   30.045686  31.309071  40857.755583
        2018    36.485435   30.506397  31.807826  43646.951971
        2019    36.205611   31.004978  31.922291  43070.498360
        2020          NaN   28.120834  27.988020  41059.168809
IND     2016    15.271950   19.158235  20.924251   1732.554242
        2017    15.614110   18.791765  21.950732   1980.667020
        2018    15.673674   19.941241  23.657416   1996.915087
        2019          NaN   18.429387  20.957385   2100.751461
        2020          NaN   18.663180  19.207818   1927.707823
USA     2016    22.547553   11.907714  14.608418  58021.400500
        2017    22.273517   12.197516  14.960314  60109.655726
        2018    22.302949   12.291520  15.183961  63064.418410
        2019    22.658365   11.756173  14.538130  65279.529026
        2020    32.987982   10.134143  13.241985  63593.443621

               Difference Imp/Exp
Country Years
ARE     2016         30567.403719
        2017         33103.849987
        2018         37171.259413
        2019         35616.381126
        2020                  NaN
AUS     2016         47726.973831
        2017         51862.806419
        2018         55029.528088
        2019         52707.754711
        2020         49687.275486
BWA     2016          2397.585698
        2017          3391.638880
        2018          3151.114095
        2019          2565.916389
        2020          1798.878804
CHN     2016          6363.359870
        2017          7022.973279
        2018          8059.973947
        2019          8395.827796
        2020          8833.777527
DEU     2016         38237.878959
        2017         40534.878977
        2018         43836.844749
        2019         42697.356573
        2020         42439.264260
ESP     2016         23516.089822
        2017         24946.275120
        2018         27105.197102
        2019         26352.848597
        2020         24148.415336
FRA     2016         33952.113666
        2017         35483.937084
        2018         38300.056471
        2019         37323.702507
        2020         36040.981946
GBR     2016         38513.704995
        2017         37726.848439
        2018         40466.169403
        2019         39878.269269
        2020         38260.366777
IND     2016          -359.870838
        2017          -214.406192
        2018          -368.826561
        2019             5.013007
        2020             6.926049
USA     2016         56560.558705
        2017         58613.624352
        2018         61546.022274
        2019         63825.716059
        2020         62269.245164

In [14]:
# Filtering the data with % Exports above 40%
def filter(x):
    return x['Exports'].max() > 40

df_gdp1.groupby('Country').filter(filter)

               Per Capita     Expense    Exports       Imports
Country Years
ARE     2016     4.465958  101.003014  75.744634  38141.867131
        2017     4.066428   99.594938  75.409412  40644.791190
        2018     3.963114   93.048123  66.680651  43839.324487
        2019     4.267227   96.843533  70.850619  42701.443045
        2020          NaN         NaN        NaN  36284.555243
BWA     2016    26.781141   54.611351  45.853318   6982.917492
        2017    28.184288   42.964736  39.044533   7296.092142
        2018    29.266589   44.535787  43.527645   7503.878588
        2019    29.029884   37.383152  46.371478   7203.064221
        2020          NaN   31.079255  46.060211   6404.899932
DEU     2016    27.902920   46.073263  38.696383  42107.517270
        2017    28.076617   47.163041  40.074162  44542.295204
        2018    27.898428   47.301046  41.133361  47950.180814
        2019    28.327925   46.624239  40.975427  46794.899292
        2020          NaN   43.416895  37.691652  46208.429472

_______________________________________________________________________________________________________________________________